{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{{
  govukServiceNavigation({
    navigation: [
      {
        href: "/cases/" + params.caseId,
        text: "Tasks",
        active: params.active == 'tasks'
      },
      {
        href: "/cases/" + params.caseId + "/case-details",
        text: "Case Details",
        active: params.active == 'caseDetails'
      },
      {
        href: "#",
        text: "Notes",
        active: params.active == 'notes'
      },
      {
        href: "/cases/" + params.caseId + "/timeline",
        text: "Timeline",
        active: params.active == 'timeline'
      }
    ]
  })
}}
