{#
    caseId: <string>,
    taskGroupId: <string>,
    active: <boolean>
#}
{% macro caseDetailsTabNavigation(params) %}
  {%- include "./case-details-tab-navigation.template.njk" -%}
{% endmacro %}
