{#
    caseId: <string>,
    stage: {
        title: <string>,
        taskGroups: <array of task groups>
    }
#}

{% macro taskGroup(params) %}
  {%- include "./task-group.template.njk" -%}
{% endmacro %}
