{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "../task-list/macro.njk" import taskList %}
{% from "../../partials/stage-action-button-group/macro.njk" import stageActionButtonGroup %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2
      class="govuk-heading-l govuk-!-margin-top-6"
      data-testid="stage-heading"
    >
      {{ params.stage.title }}
    </h2>
    {% for taskGrout in params.stage.taskGroups %}
      <h3 class="govuk-heading-m">{{ loop.index }}. {{ taskGrout.title }}</h3>
      {{ taskList({tasks: taskGrout.tasks}) }}
    {% endfor %}

    {% if params.stage.actions.length > 0 %}
      {{
        stageActionButtonGroup({
            buttons: params.stage.actions,
            caseId: params.caseId
        })
      }}
    {% endif %}
  </div>
</div>
