{% from "govuk/components/tag/macro.njk" import govukTag %}

<div class="govuk-!-margin-bottom-6 app-case-banner">
  <div class="govuk-width-container">
    <a href="/cases" class="govuk-back-link">Back to cases</a>

    <h1 class="govuk-heading-m">
      {{ params.banner.title.value or "Valley Farm" }}
    </h1>

    <div>
      <div class="app-case-row">
        {% if params.banner.summary %}
          {% for key, field in params.banner.summary %}
            <div class="app-case-cell">
              <p>
                <strong class="govuk-!-margin-right-1"
                  >{{ field.label }}:</strong
                >
                {{ field.value }}
              </p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
