{% extends '../layouts/case-layout.njk' %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/case-tabs/macro.njk" import caseTabs %}
{% from "checkbox/macro.njk" import checkbox %}
{% from "notification-banner/macro.njk" import notificationBanner %}

{% block content %}
  {% if data.assignedUserSuccessMessage %}
    {% set assignmentHtml %}
      <a
        class="govuk-notification-banner__link"
        href="{{ data.assignedUserSuccessMessage.link }}"
        >Case {{ data.assignedUserSuccessMessage.ref }}</a
      >
      has been assigned to
      {{ data.assignedUserSuccessMessage.assignedUserName }}
    {% endset %}

    {{
      notificationBanner({
        heading: data.assignedUserSuccessMessage.heading,
        html: assignmentHtml
      })
    }}
  {% endif %}
  {{ heading({ text: pageHeading }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">
        {{
          govukTabs({
            items: [
              {
                label: "All Cases",
                id: "all-cases",
                panel: {
                  html: caseTabs({
                    tabLabel: "All cases",
                    tabTestId: "all-cases-tab",
                    tableHeaders: [
                      { text: "Select" },
                      { text: "Client ref" },
                      { text: "Code", classes: "govuk-!-width-one-quarter" },
                      { text: "Date submitted", classes: "govuk-!-width-one-quarter" },
                      { text: "Status", classes: "govuk-!-width-one-quarter" },
                      { text: "Assigned", classes: "govuk-!-width-one-quarter" }
                    ],
                    data: data
                  })
                }
              },
              {
                label: "My cases",
                id: "my-cases",
                panel: {
                  html: caseTabs({
                    tabLabel: "My cases",
                    tabTestId: "my-cases-tab",
                    tableHeaders: [
                      {
                        html: checkbox({
                          id: "select_all",
                          label: "Select all",
                          name: "select_all",
                          value: "all",
                          suffix: "_mycases"
                        }),
                        classes: "govuk-!-padding-top-0"
                      },
                      { text: "Client ref" },
                      { text: "Code", classes: "govuk-!-width-one-quarter" },
                      { text: "Date submitted", classes: "govuk-!-width-one-quarter" },
                      { text: "Status", classes: "govuk-!-width-one-quarter" },
                      { text: "Assigned", classes: "govuk-!-width-one-quarter" }
                    ],
                    data: { allCases: [] }
                  })
                }
              },
              {
                label: "Team cases",
                id: "team-cases",
                panel: {
                  html: caseTabs({
                    tabLabel: "Team cases",
                    tabTestId: "team-cases-tab",
                    tableHeaders: [
                      {
                        html: checkbox({
                          id: "select_all",
                          label: "Select all",
                          name: "select_all",
                          value: "all",
                          suffix: "_teamcases"
                        }),
                        classes: "govuk-!-padding-top-0"
                      },
                      { text: "Client ref" },
                      { text: "Code", classes: "govuk-!-width-one-quarter" },
                      { text: "Date submitted", classes: "govuk-!-width-one-quarter" },
                      { text: "Status", classes: "govuk-!-width-one-quarter" },
                      { text: "Assigned", classes: "govuk-!-width-one-quarter" }
                    ],
                    data: { allCases: [] }
                  })
                }
              }
            ]
          })
        }}
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
