{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "list/macro.njk" import list %}

{% block content %}
  {{ caseSummary(data.case) }}

  <div class="govuk-body">
    {{ caseDetailsTabNavigation({active: 'caseDetails', caseId: data.case._id, taskGroupId: query.taskGroupId}) }}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-6">
      {{ data.case.title }}
    </h2>

    <p class="govuk-body">
      submitted:
      <strong
        >{{ data.case.payload.submittedAt | formatDate("do MMMM yyyy") }}</strong
      >
    </p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-body" data-testid="app-page-body">
          {% if data.case.caseDetails %}
            {% for section in data.case.caseDetails.sections %}
              <h3 class="govuk-heading-m">{{ section.title }}</h3>

              {% if section.component == "list" %}
                {{
                  list({
                    fields: section.fields
                  })
                }}
              {% endif %}

              {% if section.component == "table" %}
                {{
                  govukTable({
                      captionClasses: "govuk-table__caption--m",
                      firstCellIsHeader: true,
                      head: section.head,
                      rows: section.rows
                  })
                }}
              {% endif %}
            {% endfor %}
          {% else %}
            {# Default content #}
            {# Table 1: top-level caseData string fields #}
            {% set rows = [] %}
            {% for key, value in data.case %}
              {% if value is string %}
                {% set rows = (rows.push([{ text: key, classes: "govuk-!-width-one-third" }, { text: value }]), rows) %}
              {% endif %}
            {% endfor %}

            {{
              govukTable({
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                rows: rows
              })
            }}

            {# Table 2: answers excluding actionApplications #}
            {% set rows = [] %}
            {% for key, value in data.case.payload.answers %}
              {% if key != "actionApplications" %}
                {% set rows = (rows.push([{ text: key, classes: "govuk-!-width-one-third" }, { text: value }]), rows) %}
              {% endif %}
            {% endfor %}

            {{
              govukTable({
                caption: "Answers",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                rows: rows
              })
            }}

            {# Table 3+: Action cases data #}
            {% if data.case.payload.answers.actionApplications %}
              <h2 class="govuk-heading-m">Action cases data</h2>
              {% for action in data.case.payload.answers.actionApplications %}
                <h3 class="govuk-heading-s">
                  Selected land parcel for action {{ loop.index }}
                </h3>

                {% set rows = [] %}
                {% for key, value in action %}
                  {% if key == "appliedFor" %}
                    {% set rowValue = value.quantity + " " + value.unit %}
                    {% set rows = (rows.push([{ text: key, classes: "govuk-!-width-one-third" }, { text: rowValue }]), rows) %}
                  {% else %}
                    {% set rows = (rows.push([{ text: key, classes: "govuk-!-width-one-third" }, { text: value }]), rows) %}
                  {% endif %}
                {% endfor %}

                {{
                  govukTable({
                    firstCellIsHeader: true,
                    rows: rows
                  })
                }}
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
