{% extends '../layouts/case-layout.njk' %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/case-tabs/macro.njk" import caseTabs %}
{% from "checkbox/macro.njk" import checkbox %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ heading({ text: pageHeading }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">
        <h2>Shhh - it's a secret!</h2>
        <p>You are authenticated</p>
        {{
          govukButton({
            text: "Logout",
            href: "/logout"
          })
        }}
        <h3>Session information</h3>
        <pre>{{ authBlob }}</pre>
      </div>
    </div>
  </div>
{% endblock %}
