{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "../components/task-group/macro.njk" import taskGroup %}

{% block content %}
  {{ caseSummary(data.case) }}

  <div class="govuk-body">
    {{ caseDetailsTabNavigation({active: 'tasks', caseId: data.case.id }) }}

    {{ taskGroup({caseId: data.case.id, stage: data.stage }) }}
  </div>
{% endblock %}
