{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "../components/task-details/macro.njk" import taskDetails %}
{% block content %}
  {{ caseSummary({ case: data.case }) }}
  <div class="govuk-body">
    {{
      caseDetailsTabNavigation({
        active: 'tasks',
        caseId: data.case.id
      })
    }}
    {{
      taskDetails({
        caseId: data.case.id,
        stageId: data.case.currentStage,
        taskGroupId: data.taskGroupId,
        currentTask: data.currentTask
      })
    }}
  </div>
{% endblock %}
