{% extends '../layouts/case-layout.njk' %}
{% from "../components/case-summary/macro.njk" import caseSummary %}
{% from "../components/case-details-tab-navigation/macro.njk" import caseDetailsTabNavigation %}
{% from "../partials/timeline-item-title/macro.njk" import timelineItemTitle %}
{% from "../partials/timeline-item-description/macro.njk" import timelineItemDescription %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  {{ caseSummary(data.case) }}

  <div class="govuk-body">
    {{ caseDetailsTabNavigation({active: 'timeline', caseId: data.case._id }) }}

    <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-6">
      {{ pageHeading }}
    </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-body" data-testid="app-page-body">
          <div class="timeline govuk-!-margin-top-3">
            {% for item in data.case.timeline %}
              <div class="timeline__item">
                <div class="timeline__header">
                  {{ timelineItemTitle({ eventType: item.eventType, description: item.description, data: item.data }) }}
                  <p class="timeline__byline">by {{ item.createdBy.name }}</p>
                </div>
                <p class="timeline__date">
                  <time datetime="{{ item.createdAt }}"
                    >{{ item.createdAt | formatDate("d MMM yyyy hh:mm aaa") if item.createdAt }}</time
                  >
                </p>
                {{ timelineItemDescription({ data: item.data, eventType: item.eventType }) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
