{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<form
  method="post"
  id="completeTaskForm"
  action="{{ "/cases/" + params.caseId + "/stages/" + params.stageId + "/task-groups/" + params.taskGroupId + "/tasks/" + params.taskId + "/status" }}"
>
  <div class="govuk-form-group">
    {{
      govukCheckboxes({
        name: "isComplete",
        items: [
          {
            value: true,
            id: "task-" + params.taskId,
            text: params.title,
            checked: params.isComplete
          }
        ]
      })
    }}
  </div>
  <div class="govuk-button-group">
    <button
      type="submit"
      data-prevent-double-click="true"
      data-testid="save-and-continue-button"
      class="govuk-button"
      data-module="govuk-button"
      data-govuk-button-init=""
    >
      Save and continue
    </button>
  </div>
</form>
