<div
  class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox"
>
  <input
    type="checkbox"
    class="govuk-checkboxes__input"
    id="{{ params.id }}{{ params.suffix }}"
    name="{{ params.name }}"
    value="{{ params.value }}"
  />
  <label
    class="govuk-label govuk-checkboxes__label"
    for="{{ params.id }}{{ params.suffix }}"
  >
    <span class="govuk-visually-hidden">Select {{ params.label }}</span>
  </label>
</div>
