{#
    caseId: <string>,
    stageId: <string>,
    taskGroupId: <string>,
    currentTask: <task to display>
#}

{% macro taskDetails(params) %}
  {%- include "./task-details.template.njk" -%}
{% endmacro %}
