{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../partials/task-boolean/macro.njk" import appTaskBoolean %}

{% set caseLink = "/cases/" + params.caseId %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukBackLink({
        text: "Back to task list",
        href: caseLink,
        attributes: {
          "data-testid": "back-link"
        }
      })
    }}
    <h2
      class="govuk-heading-l govuk-!-margin-top-6"
      data-testid="task-details-heading"
    >
      {{ params.currentTask.title }}
    </h2>

    {% if params.currentTask.type === "boolean" %}
      {{
        appTaskBoolean({
        caseId: params.caseId,
        stageId: params.stageId,
        taskGroupId: params.taskGroupId,
        taskId: params.currentTask.id,
        isComplete: params.currentTask.isComplete,
        title: params.currentTask.title
        })
      }}
    {% endif %}
  </div>
</div>
