{#
    tasks: <array of {
        title: <string>,
        link: <string>,
        status: <string>
    }>
#}

{% macro taskList(params) %}
  {%- include "./task-list.template.njk" -%}
{% endmacro %}
